page {
  background-color: #E4EDF7;
}

.container {
  display: block;

  .top_img {
    width: 100%;
  }
}


.box {
  height: 900rpx;
  overflow: hidden;
  z-index: 0;
  // margin: -400rpx 0;
  display: flex;
  flex-direction: column;
}

.box .club {
  height: 200rpx;
  width: 702rpx;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  z-index: 1000;
  // $ColorClass: (#8957A1), (#12BCF8), (#FFE933), (#FF4747), (#B3D465), (#8957A1), (#12BCF8), (#FFE933), (#FF4747), (#B3D465);

  // @mixin color($bgColor) {
  //   background-color: $bgColor;

  // }

  // @for $i from 1 through 10 {
  //   &:nth-of-type(#{$i}) {
  //     .slide-image {
  //       @include color(nth($ColorClass, $i));
  //     }
  //   }
  // }

  .item {
    width: 702rpx;
    height: 200rpx;
    background-color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 12rpx;
    box-shadow: 0rpx 0rpx 15rpx 3rpx #4781F8;

    .slide-image {
      width: 206rpx;
      height: 200rpx;
      display: flex;
      align-items: center;

      image {
        height: 76%;
        margin: 20rpx auto;
        display: block;
      }

      // .image_2{
      //   width: 160rpx;
      //   margin: 20rpx auto;
      //   display: block;
      // }
    }

    .right_icon {
      position: absolute;
      right: 30rpx;
      top: 50%;
      transform: translateY(-50%);
      width: 16rpx;
    }

    .right {
      padding: 40rpx 16rpx;
      box-sizing: border-box;
      width: 496rpx;

      .title {
        font-size: 30rpx;
        color: #333;
        display: block;
        margin-bottom: 26rpx;
        text-align: left;
      }

      .context {
        font-size: 24rpx;
        color: #999;
        display: block;
        width: 78%;
        white-space: normal;
        text-align: left;
      }
    }
  }
}

.club image {
  height: 140rpx;
  width: 140rpx;
}

.club text {
  display: block;
  width: 100%;
  font-size: 24rpx;
  line-height: 40rpx;
  text-align: center;
}

.box .club:nth-child(1) {
  transform: scale(1, 1) translateY(-240rpx);
  opacity: 0;
  z-index: 0;
}

.box .club:nth-child(2) {
  transform: scale(1, 1) translateY(-180rpx);
  opacity: 0;
  z-index: 1;
}

.box .club:nth-child(3) {
  transform: scale(0.85, 0.85) translateY(-120rpx);
  opacity: 0.6;
  z-index: 10;
}

.box .club:nth-child(4) {
  transform: scale(0.9, 0.9) translateY(-60rpx);
  opacity: 0.85;
  z-index: 100;
}

.box .club:nth-child(5) {
  transform: scale(1, 1);
  z-index: 1000;
}

.box .club:nth-child(6) {
  transform: scale(0.9, 0.9) translateY(60rpx);
  opacity: 0.85;
  z-index: 100;
}

.box .club:nth-child(7) {
  transform: scale(0.85, 0.85) translateY(120rpx);
  opacity: 0.6;
  z-index: 10;
}

.box .club:nth-child(8) {
  transform: scale(1, 1) translateY(180rpx);
  opacity: 0;
  z-index: 1;
}

.box .club:nth-child(9) {
  transform: scale(1, 1) translateY(240rpx);
  opacity: 0;
  z-index: 0;
}

// .box .club:nth-child(1) text,
// .box .club:nth-child(2) text,
// .box .club:nth-child(4) text,
// .box .club:nth-child(5) text,
// .box .club:nth-child(6) text,
// .box .club:nth-child(7) text,
// .box .club:nth-child(8) text,
// .box .club:nth-child(9) text {
//   visibility: hidden;
// }