page{
  background-color: #fff;
}

.container{
  padding:22rpx 24rpx 180rpx;
  image{
    width: 100%;
    margin-top: 22rpx;
  }
  .title{
    margin-top: 15rpx;
    font-size: 28rpx;
    color: #333;
    font-weight: bold;
    line-height: 40rpx;
  }
  .context{
    margin-top: 10rpx;
    font-size: 26rpx;
    color: #333;
    line-height: 40rpx;
  }
  .line{
    width: 100%;
    display: block;
    height: 2rpx;
    background-color: #8c8c8c;
    margin-top: 10rpx;
  }

  .btn_box{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 160rpx;
    line-height: 160rpx;
    width: 100%;
    background-color: #fff;
    .apply_btn{
      margin:40rpx auto;
      border-radius: 48rpx;
      height: 94rpx;
      line-height: 94rpx;
      width: 504rpx;
      color: #fff;
      font-size: 36rpx;
      text-align: center;
      background-color: #12BCF8;
    }
  }
}