page{
  height: 100%;
  background-color: #FFCC33;
}

.container{
  width: 100%;
  display: block;
  background-color: #FFCC33; 
  .top_img{
    width: 100%;
  }
  .content{
    width: 702rpx;
    height: 900rpx;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 12rpx;
    text-align: center;
    padding-top: 56rpx;
    box-sizing: border-box;
    .text_1{
      color: #333;
      font-size:32rpx;
      display: block;
    }
    .text_2{
      color: #333;
      font-size:30rpx;
      margin-top: 30rpx;
      display: block;
    }
    .context{
      display: block;
      font-size: 24rpx;
      color: #999;
      width: 564rpx;
      margin:30rpx auto 0;
      text-align: left;
      line-height: 42rpx;
    }

    &>image{
      width: 254rpx;
      margin-top: 150rpx;
    }

    .text_3{
      font-size: 30rpx;
      color: #999;
      display: block;
      margin-top: 18rpx;
    }

    .options_list{
      margin-top: 40rpx;
      .item{
        margin-bottom: 30rpx;
        text-align: left;
        margin-left: 10%;
        .label{
          width: 160rpx;
          height: 28rpx;
          font-size: 30rpx;
          color: #333;
          vertical-align: middle;
          display: inline-block;
          margin-right: 38rpx;
          line-height: 42rpx;
          height: 42rpx;
        }
        .num_choose{
          vertical-align: middle;
          display: inline-block;
          .nummber{
            color: #333;
            font-size: 30rpx;
            width: 120rpx;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
          }
          .opera_btn{
            height: 58rpx;
            width: 58rpx;
            color: #fff;
            line-height: 58rpx;
            text-align: center;
            border-radius: 50%;
            background-color: #12BCF8;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }
    }

    .check_btn{
      width: 460rpx;
      height: 88rpx;
      line-height: 88rpx;
      text-align: center;
      color: #fff;
      font-size: 36rpx;
      background-color: #FFCC33;
      border-radius: 44rpx;
      margin:50rpx auto 0;
    }
  }
}